@model IEnumerable<MyShop.Core.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">
    <a href="#" class="btn btn-default">Add to Cart</a>
</div>


<h2>Products</h2>

@foreach(var product in Model)
{
    <div class="col-md-12" style="height:450px;padding:10px;margin:10px;border:solid 1px whitesmoke">

        <div class="col-md-12">
            <img class="img" src="~/Content/ProductImages/@product.Image" style="height:250px;" />
        </div>

        <div class="col-md-12">
            <strong>@Html.ActionLink(product.Name , "Details" , new { id = product.Id})</strong>
        </div> 

        <div class="col-md-12">
            <p>
                @product.Description
            </p>
        </div>
        
        
        <div class="col-md-12">
            <p>
                @product.Price
            </p>
        </div>

        <div class="col-md-12">
            <a href="#" class="btn btn-default">Add to Cart</a>
        </div>

    </div>

}

<div class="col-md-12 clearfix"></div>

